daw-product-grid .daw-elements {
   .row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: baseline;
      align-content: stretch;
      // min-height: 100px;
      // max-height: 100px;

      .element {
        display: inline-block;
        // min-width: 200px;
        // max-width: 200px;
        border: 2px solid;
        margin: 10px;
        padding: 10px;
      }
   }
}
