daw-grid {
  .daw-grid-controls {
    display: flex;
    justify-content: center;
    align-items: baseline;

    daw-product-grid-control {
      width: 150px;
    }
  }

  .daw-progress-bar {
    text-align: center;
    margin: 10px;
  }

  .daw-no-more-data {
    text-align: center;
    margin: 10px;
  }

  .daw-elements {
   .row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: baseline;
      align-content: stretch;

      .element {
        display: inline-block;
        width: 200px;
        height: 100px;
        border: 2px solid;
        margin: 10px;
        padding: 10px;

        div {
          margin-bottom: 5px;
        }
      }

      .element .face {
        text-align: center;
        margin-bottom: 15px;
      }
   }
  }
}
